.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .hr {
    height: 1px;
    width: 100%;
    background-color: #EEEEEE;
  }

  .btnContainer {
    display: flex;
    flex-direction: row;
    min-height: 32px;
  }
}
