.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F4F4F4;
  height: 40px;
  padding: 0 4px;
  font-size: 12px;

  .title {
    flex: 1;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}
