.selector-container {
  display: flex;
  flex-direction: row;
  min-height: 32px;

  .title {
    width: 100px;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1;
  }
}
