.computing-node-tree-container {
  border: 1px solid var(--px-color-border);
  border-radius: var(--px-radius-lg);
  overflow: hidden;
  background-color: var(--px-color-bg-layout);
  padding: 20px; // 添加内边距以确保文字可见
}

.clickable-node {
  cursor: pointer;
}

.blinking-light {
  animation: blink 1.5s infinite ease-in-out;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}