# 请求签名密钥
SIGNATURE_SECRET=xxxxxxxxxxxxxxxxxxxxx

# 登录盐
SALT=xxxxxxxxxxxxxxxxxxxxx

# 登录HMAC密钥
HMAC_SECRET=xxxxxxxxx

# 客户端
CLIENT_HOST=http://localhost
CLIENT_POST=8000

# SSO页面地址
SSO=http://localhost:8000

# 数据大盘服务
DASHBOARD_HOST=http://localhost
DASHBOARD_POST=8101
