.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .event-info {
    display: flex;
    flex-direction: column;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--px-color-text-primary);
  margin-top: 12px;
}
