.container {
  padding: 24px;
}

.cell {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    font-size: 18px;
    font-weight: bold;
    border-left: #1890ff 5px solid;
    padding: 0 8px;
  }
}
