.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--px-color-bg-layout);
}

.login-card {
  width: 400px;
  max-width: 90%;

  :global {
    .ant-card-head {
      text-align: center;
    }
  }
}

.login-button {
  width: 100%;
}