.sider {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 180px;
  transition: 150ms;
  overflow-x: hidden;
  overflow-y: auto;

  &.collapsed {
    width: 46px;
  }
}

.menu {
  width: auto;
  flex: 1;
  overflow-y: auto;
}

.bottom-menu {
  display: flex;
}
