.sider {
  background-color: var(--px-sidebar-bg);
  border-right: 1px solid var(--px-color-border-secondary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--px-sidebar-width);
  transition: var(--px-motion-duration-fast);
  overflow-x: hidden;
  overflow-y: auto;

  &.collapsed {
    width: var(--px-sidebar-collapsed-width);
  }
}

.account-logo {
  border-radius: var(--px-radius-full);
  background-color: var(--px-color-primary);
  color: var(--px-color-bg-container);
  font-size: var(--px-font-size-lg);
  padding: var(--px-spacing-xxs);
}

.menu {
  width: auto;
  flex: 1;
  overflow-y: auto;
}
