.container {
  padding: 24px;
}

.list-item {
  height: 47px;
  padding: 0;

  &.selected {
    background-color: var(--px-color-bg-layout);
  }

  .link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;

    &:hover {
      background-color: var(--px-color-bg-layout);
    }
  }
}